<%- include('../shared/asideBar') %>


    <main class="flex-grow p-8 ml-0 sm:ml-20 lg:ml-64 overflow-hidden">
        
        <div class="mx-auto px-4 py-8 max-w-7xl mt-32">
            <!-- Intro Card -->
            <div class="flex flex-col md:flex-row items-center bg-gray-100 dark:bg-gray-800 rounded-lg shadow-lg p-8">
                <!-- Left Section -->
                <div class="w-full  text-center  mb-6 md:mb-0">
                    <h1 class="text-3xl font-extrabold text-gray-900 dark:text-white mb-4">
                        Welcome to Safa Suiting
                    </h1>
                    <h2 class="text-2xl font-semibold text-gray-800 dark:text-gray-200 mb-6">
                        Hello <%= user.name %>!
                    </h2>
                    <p class="text-lg text-gray-600 dark:text-gray-300 mb-6 leading-relaxed">
                        You're all set to manage and analyze the e-commerce platform. Stay on top of everything with
                        detailed insights and data at your fingertips.
                    </p>

                    <a href="/analytical.html"
                        class="inline-block text-white font-semibold py-3 px-6 rounded-lg bg-[#DB4444] hover:bg-[#de2d2d] transition-all duration-300 focus:ring-4 focus:ring-[#de2d2d] focus:ring-opacity-50">
                        Explore Charts & Data
                    </a>

                </div>
            </div>
        </div>
    </main>
    </div>
     <!-- Link the JavaScript file -->
     <script src="/js/main.js"></script>
</body>

</html>