<%- include('../shared/asideBar') %>


<main class="flex-grow p-8 ml-0 sm:ml-20 lg:ml-64 overflow-hidden">
  <h1 class="text-4xl font-bold mb-8 sm:mt-7 mt-9">Users Detail</h1>

    <div id="userDetails" class="space-y-6">
      <!-- User details will be inserted dynamically here -->
    </div>

    <div class="flex justify-end">
      <a href="/manageuser.html" class="px-4 py-2 bg-gray-500 text-white rounded-lg hover:bg-gray-400 transition">
        Back to Admin Dashboard
      </a>
    </div>
  </div>

 


  <!-- Link the JavaScript file -->
  <script src="/js/main.js"></script>

  